/* <!-- navbar  --> */
* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
nav ul li img:hover {
    zoom: 79%;
}
a {
    text-decoration: none;
    color: #e298e1;
}

a:hover {
    color: white;
    font-size: 19px;
}

.space-between {
    justify-content: space-between;
}

/* .container {
    width: 100vw;
    padding: 0px 15px;
    margin: 0px auto;
} */

.align-center {
    align-items: center;
}
/* 
@media(min_width:300px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
} */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

img.name {
    border-radius: 50%;
    height: 130px;
}

img.name1 {
    margin-left: 30px;
}

.menu {
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

.menu>li {
    color: #e298e1;
    width: 140px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 17px;

}

html {
    scroll-behavior: smooth;
}

/* .menu>li:hover{
          
             color: white;
            font-size: 19px;
        }*/
.sub-menu {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
}

.sub-menu li {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8);
    padding: 8px 0;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    width: 70px;
}

.sub-menu li:last-child {
    border-bottom: 0;
}

.sub-menu li:hover {
    background: black;
    color: white;
}

.menu>li:hover .sub-menu li {
    transform: scale(1);
    color: #e298e1;

}

.menu>li:hover .sub-menu {
    transform: scale(1);
    color: white;
}

.sub-menu>li {
    padding-left: 5px;
    margin-top: 0px;
    width: 85%;
    font-size: 17px;
}

/* logo  */

#logo2 {
    padding-top: 3px;
}

/* #logo:hover{
            width: 55px;
        } */
#logo::before {
    content: "";
    position: absolute;
    /* background: url("bg2.jpeg") no-repeat center center/cover; */
    height: 149px;
    width: 100vw;
    z-index: -1;
    opacity: 0.9;

}

#logo img {
    margin-right: 47px;
}

/* forms decoration  */
.container3 {
    display: flex;

}

.container3{
   
  
    background: url('contact-usimg.jpg') no-repeat center center/cover;
  
}

.container1 {
    padding-left: 12px;
    margin-bottom:20px;
}
.container1 input{
    padding: 5px 12px;
    padding-left: 20px;
    border-radius: 23px;
    /* text-align: center; */
}
.container1 textarea{
    border-radius: 10px;
    padding-left: 18px;
    padding-top: 5px;
}
.container2 {
    margin-left: 5px;
    text-align: center;
    padding-top: 0px;
}

.part1 {
    /* padding-right: 200p; */
    margin-top: 18px;
    margin-left: 161px;
    /* background-color: antiquewhite; */
}

.heading{
    margin-left: 192px;
    margin-top: 135px;
}
.container2 button{
    padding: 6px 19px;
    border-radius: 8px;
}